h2{
  margin: 0 0 20px;
}

.educations{
  margin: 0 0 20px;
  &__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item{
    border-radius: 8px;
    border: 1px solid var(--color-gray);
    background: var(--bg-code);
    box-shadow: 0 0 0 2px var(--shadow-gray2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
