<div class="footer">
  <div class="footer__wrapper">
    <div class="footer__find">
      <div class="footer__find-text">find me in:</div>
      <a href="" class="footer__find-link">
        <img src="/assets/images/icons/telegram-fill.svg" alt="telegram">
      </a>
      <a href="" class="footer__find-link">
        <img src="/assets/images/icons/instagram-fill.svg" alt="instagram">
      </a>
      <a href="" class="footer__find-link">
        <img src="/assets/images/icons/linkedin-fill.svg" alt="linkedin">
      </a>
      <a href="" class="footer__find-link">
        <img src="/assets/images/icons/mail-line.svg" alt="mail">
      </a>
    </div>
    <a href="#" class="footer__git">
      <span>@kulakovskyi</span>
      <img src="/assets/images/icons/git.svg" alt="git">
    </a>
  </div>
</div>
