.code {
  position: relative;
  padding: 20px;
  border-right: 1px solid var(--color-border-gray-dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  color: var(--color-gray);
  line-height: 150%;
  overflow-y: scroll;
  max-height: calc(100vh - 290px);
  @media screen and (max-width: 1500px) {
    padding: 20px 15px 20px 40px;
    max-height: calc(100vh - 186px);
  }
  @media screen and (max-width: 1200px) {
    border: none;
    max-height: 100%;
    overflow: hidden;
    padding: 0;
  }

  &__wrap {
    &::-webkit-scrollbar {
      display: none;
      width: 7px;
      padding: 3px;
      margin: 3px;
      @media screen and (max-width: 1500px) {
        display: block;
      }
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-border-gray-dark);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-gray);
    }

    @media screen and (max-width: 1200px) {
      padding: 20px 15px 20px 40px;
      overflow-y: scroll;
      height: calc(100svh - 187px);
    }
    @media screen and (max-width: 550px){
      padding: 20px 15px 20px 20px;
    }

  }

  &__top {
    display: none;
    height: 41px;
    width: 100%;
    border-bottom: 1px solid var(--color-border-gray-dark);
    grid-template-columns: 50% 50%;
    @media screen and (max-width: 1200px) {
      display: grid;
      border-top: 1px solid var(--color-border-gray-dark);
    }
    @media screen and (max-width: 550px){
      grid-template-columns: 100%;
    }

    &-title {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 0 60px 0 15px;
      font-size: 13px;
      line-height: 16px;
      border-right: 1px solid var(--color-border-gray-dark);
      font-weight: 400;
      color: var(--color-gray);

      .close {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        right: 12px;
        cursor: pointer;
        transform: translateY(-50%);
        background: url("/assets/images/icons/close-icon.svg") no-repeat 0 0/contain;
      }
    }
  }

  &::-webkit-scrollbar {
    display: block;
    width: 12px;
    padding: 3px;
    margin: 3px;
    @media screen and (max-width: 1500px) {
      width: 7px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-border-gray-dark);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
  }

  &__title {
    font-size: 18px;
    font-weight: 450;
    line-height: 20px;
    color: var(--color-gray);
    margin: 0 0 40px;
    @media screen and (max-width: 1500px) {
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 25px;
    }
    @media screen and (max-width: 550px){
      font-size: 13px;
      line-height: 15px;
      margin: 0 0 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &.fadeInOut {
      transition: opacity 0.3s ease;
    }
    @media screen and (max-width: 550px){
      gap: 20px;
    }
  }

  &__item {
    &-user {
      display: flex;
      align-items: center;
      margin: 0 0 10px;

      &-image {
        width: 36px;
        height: 36px;
        object-fit: cover;
        margin: 0 15px 0 0;
        @media screen and (max-width: 1500px) {
          width: 25px;
          height: 25px;
        }

        img {
          width: 36px;
          height: 36px;
          object-fit: cover;
          border-radius: 50%;
          @media screen and (max-width: 1500px) {
            width: 25px;
            height: 25px;
          }
        }
      }

      &-nick {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        color: var(--color-purple);
        transition: color .3s ease;
        @media screen and (max-width: 1500px) {
          font-size: 12px;
        }

        &:hover {
          color: var(--color-purple-hover);
        }
      }
    }

    &-cont {
      padding: 20px;
      border-radius: 15px;
      border: 1px solid var(--color-border-gray-dark);
      background: var(--bg-code);
      margin: 0 0 20px;
      @media screen and (max-width: 1500px) {
        padding: 15px;
        border-radius: 10px;
      }
      @media screen and (max-width: 550px){
        padding: 10px;
      }
    }

    &-description {
      font-size: 12px;
      font-style: normal;
      font-weight: 450;
      line-height: 150%;
      padding: 15px 0 0 0;
      border-top: 1px solid var(--color-gray);
      @media screen and (max-width: 1500px) {
        font-size: 10px;
      }
    }

    &-wrap {
      height: 200px;
      padding: 0 15px 0 0;
      overflow-y: scroll;
      @media screen and (max-width: 1500px) {
        height: 170px;
      }

      &::-webkit-scrollbar {
        display: block;
        width: 4px;
        padding: 3px;
        margin: 3px;
        @media screen and (max-width: 1500px) {
          width: 3px;
        }
      }

      &::-webkit-scrollbar-track {
        background-color: var(--color-border-gray-dark);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--color-gray);
      }
    }
  }
}
