.code{
  padding: 20px;
  border-right: 1px solid var(--color-border-gray-dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  color: var(--color-gray);
  line-height: 150%;
  overflow-y: scroll;
  max-height: calc(100vh - 290px);
  &::-webkit-scrollbar{
    display: block;
    width: 12px;
    padding: 3px;
    margin: 3px;
  }
  &::-webkit-scrollbar-track{
    background-color: var(--color-border-gray-dark);
  }
  &::-webkit-scrollbar-thumb{
    background-color: var(--color-gray);
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__item{
    padding: 20px;
    border-radius: 15px;
    border: 1px solid var(--color-border-gray-dark);
    background: var(--bg-code);
    &-wrap{
      height: 200px;
      padding: 0 15px 0 0;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        display: block;
        width: 4px;
        padding: 3px;
        margin: 3px;
      }
      &::-webkit-scrollbar-track{
        background-color: var(--color-border-gray-dark);
      }
      &::-webkit-scrollbar-thumb{
        background-color: var(--color-gray);
      }
    }
  }
}
