<div class="code">
  <div class="code__wrap">
    <div class="code__title">// Code snippet showcase:</div>
    <div
      *ngIf="(snippets$ | async) as snippets; else loading"
      class="code__list">
      <div
        *ngFor="let snippet of snippets"
        class="code__item">
          <div class="code__item-user">
            <div class="code__item-user-image">
              <img src="assets/images/user.jpeg" alt="user">
            </div>
            <a href="#" class="code__item-user-nick">@kulakovskyi</a>
          </div>
        <div class="code__item-cont">
          <div class="code__item-wrap">
          <pre>
              <code
                style="background: var(--bg-code)"
                [highlight]="snippet.code"
                [languages]="['typescript']"
                (highlighted)="onHighlight($event)"
                [lineNumbers]="true">
              </code>
          </pre>
          </div>
        </div>
        <div class="code__item-description">{{snippet.text}}</div>
      </div>

    </div>
    <ng-template #loading>
      Loading...
    </ng-template>
  </div>


</div>




