<div class="header">
  <div class="header__row">
    <div
      class="header__nav">
      <a
        [routerLink]="['/admin/login']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
        class="header__nav-link">_admin-login</a>
      <a
        [routerLink]="['/admin/user-snippets']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
        class="header__nav-link">_user/snippets</a>
      <a
        [routerLink]="['/admin/about-education']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
        class="header__nav-link">_about/education</a>
      <a
        [routerLink]="['/admin/interests']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
        class="header__nav-link">_interests</a>
  </div>
</div>
</div>
