.bio{
  width: 100%;
  &__top{
    height: 43px;
    width: 100%;
    border-bottom: 1px solid var(--color-border-gray-dark);
    &-title{
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 0 80px 0 15px;
      border-right: 1px solid var(--color-border-gray-dark);
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      color: var(--color-gray);
      .close{
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        right: 12px;
        cursor: pointer;
        transform: translateY(-50%);
        background: url("/assets/images/icons/close-icon.svg") no-repeat 0 0/contain;
      }
    }
  }
  &__wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
