<div class="bio">
  <div class="bio__top">
    <div class="bio__top-item">
      <div class="bio__top-title">personal-info <span class="close"></span></div>
    </div>
    <div class="bio__top-item">
      <div class="bio__top-title">code-snippets <span class="close"></span></div>
    </div>

  </div>
  <div class="bio__wrapper">
    <div class="bio__personal" >
      <app-personal-info ></app-personal-info>
    </div>
    <div class="bio__code" >
      <app-code-snippet ></app-code-snippet>
    </div>
  </div>

</div>
