<div class="header">
    <div class="header__row">
      <a [routerLink]="['/admin']" class="header__name">{{ (currentUser$ | async)?.github }}</a>
      <div class="header__burger"
           [class.active]="isMenuOpen"
           (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div


        [class.active]="isMenuOpen"

        class="header__nav">
        <a
          [routerLink]="['/']"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{exact: true}"
           (click)="toggleMenu()"
           class="header__nav-link">_hello</a>
        <a
          [routerLink]="['/about']"
          [routerLinkActive]="['active']"
          (click)="toggleMenu()"
          class="header__nav-link">_about-me</a>
        <a
          [routerLink]="['/projects']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          (click)="toggleMenu()"
          class="header__nav-link">_projects</a>
        <ng-container *ngIf="isMenuOpen && isScreenWidthLessThan1080()">
          <a [routerLink]="['/contacts']"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact: true}"
             (click)="toggleMenu()"
             class="header__contact">_contact-me</a>
        </ng-container>
      </div>
      <a
        [routerLink]="['/contacts']"
        [routerLinkActive]="['active']"
        *ngIf="!isScreenWidthLessThan1080()"
        href="" class="header__contact">_contact-me</a>
    </div>
</div>
