<div class="block-list">
  <div class="block-list__top">
    <div class="block-list__top-item">
      <div
        class="block-list__top-title"> interests <span class="close"></span></div>
    </div>
  </div>
  <div class="block-list__wrapper">
    <div
      [@fadeInOut]
      *ngIf="(interestsData$ | async) as interestsData; else loading"
      class="block-list__list">
      <app-interest-item
        *ngFor="let item of interestsData"
        [title] = item.title
        [image]="item.image"
        [description]="item.text"
      ></app-interest-item>
    </div>
    <ng-template #loading>Loading...</ng-template>
  </div>
</div>

