<div class="projects">
  <div class="projects__top">
    <div class="projects__top-item">
      <div class="projects__top-title">{{ selectedTech.join('; ') | titlecase }} <span class="close"></span></div>
    </div>
  </div>
  <div class="projects__wrapper">
    <div class="projects__list">
      <app-single-project
        *ngFor="let project of filteredProjects; let idx = index"
        [index]="idx"
        [title]="project.title"
        [image]="project.image"
        [description]="project.description"
        [icon]="project.stack"
        [tech]="project.tech"
      ></app-single-project>
    </div>
  </div>
</div>

