.projects{
  width: 100%;
  &__top{
    height: 43px;
    width: 100%;
    border-bottom: 1px solid var(--color-border-gray-dark);
    display: grid;
    grid-template-columns: 100%;
    @media screen and (max-width: 1500px) {
      height: 41px;
    }
    &-item{
      border-right: 1px solid var(--color-border-gray-dark);
      @media screen and (max-width: 1200px) {
        border: none;
        border-top: 1px solid var(--color-border-gray-dark);
      }
    }
    &-title{
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 0 80px 0 15px;
      border-right: 1px solid var(--color-border-gray-dark);
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      color: var(--color-gray);
      @media screen and (max-width: 1500px) {
        padding: 0 60px 0 15px;
        font-size: 13px;
        line-height: 16px;
      }

      .close{
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        right: 12px;
        cursor: pointer;
        transform: translateY(-50%);
        background: url("/assets/images/icons/close-icon.svg") no-repeat 0 0/contain;
      }
    }
  }
  &__wrapper{
    padding: 80px;
    overflow-y: scroll;
    max-height: calc(100vh - 290px);
    @media screen and (max-width: 1500px) {
      max-height: calc(100vh - 186px);
    }
    @media screen and (max-width: 1200px){
      max-height: calc(100vh - 186px);
    }
    &::-webkit-scrollbar{
      display: block;
      width: 12px;
      padding: 3px;
      margin: 3px;
      @media screen and (max-width: 1500px) {
        width: 7px;
      }
      @media screen and (max-width: 550px){
        width: 3px;
      }
    }
    &::-webkit-scrollbar-track{
      background-color: var(--color-border-gray-dark);
    }
    &::-webkit-scrollbar-thumb{
      background-color: var(--color-gray);
    }
  }
  &__list{
    display: grid;
    gap: 30px;
    grid-template-columns: calc(33.333% - 20px) calc(33.333% - 20px) calc(33.333% - 20px);
  }
}
