.contacts{
  height: 100%;
  min-height: 100%;
  margin: auto;
  overflow: hidden;
  &__wrapper{
    height: 100%;
    min-height: 100%;
    display: flex;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }
  &__nav{
    height: 100%;
    min-height: 100%;
    width: 315px;
    min-width: 315px;
    @media screen and (max-width: 1500px) {
      width: 215px;
      min-width: 215px;
    }
    @media screen and (max-width: 1200px) {
      min-height: auto;
      height: auto;
      width: 100%;
      min-width: auto;
    }
  }
  &__main{
    flex: 1 1 auto;
  }
}

