<div class="banner">
  <div class="banner__subtitle typing">Hi all. I am</div>
  <div class="banner__title">{{ (currentUser$ | async)?.user }}</div>
  <div class="banner__prof">> {{ (currentUser$ | async)?.profession }}</div>
  <div class="banner__info">
    <div class="banner__info-text">// complete the game to continue</div>
    <div class="banner__info-text">// you can also see it on my Github page</div>
  </div>
  <div class="banner__link">
    <span class="const">const </span>
    <span class="name">githubLink </span>
    =
    <a target="_blank" [href]='(currentUser$ | async)?.gitHubLinkUser' class="link">“{{ (currentUser$ | async)?.gitHubLinkUser }}”</a>
  </div>
</div>
