.wrapper{
  padding: 70px;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  &__container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-border-gray-dark);
  }
  &__main{
    flex: 1 1 auto;
    padding: 40px 0;
    height: 200px;
    overflow-y: scroll;
  }
}

