.single{
  height: calc(100% - 30px);
  @media screen and (max-width: 550px) {
    height: auto;
  }
  &__title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 18px;
    font-weight: 450;
    gap: 10px;
    margin: 0 0 15px;
    color: var(--color-gray);
    &-num{
      color: var(--color-purple);
      font-weight: 700;
    }
  }
  &__card{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 30px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid var(--color-border-gray-dark);
    background: var(--bg-code);
    @media screen and (max-width: 550px) {
      padding: 0 0 20px;
    }
    &-img{
      height: 160px;
      position: relative;
      border-bottom: 1px solid var(--color-border-gray-dark);
      margin: 0 0 25px;
      .icon{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 28px;
        height: 28px;
        img{
          width: 28px;
          height: 28px;
        }
      }
      img{
        width: 100%;
        height: 160px;
        object-fit: cover;
      }
    }
    &-des{
      flex: 1 1 auto;
      padding: 0 30px;
      font-size: 14px;
      font-weight: 450;
      line-height: 150%;
      color: var(--color-gray);
      @media screen and (max-width: 550px) {
        padding: 0 20px;
      }
    }
  }
}
