<app-alert></app-alert>
<div class="edit">
  <div class="edit__row">
    <div class="edit__user-form">
      <form class="form" [formGroup]="formUser" (ngSubmit)="submitUser()">
        <h2>User info</h2>
        <div
          class="form-group">
          <label class="label"  for="user">User name</label>
          <input class="input" id='user' type="text" formControlName="user" placeholder="User-name">
        </div>
        <div
          class="form-group">
          <label class="label"  for="profession">Profession</label>
          <input class="input" id='profession' type="text" formControlName="profession" placeholder="Profession">
        </div>
        <div
          class="form-group">
          <label class="label"  for="gitHubLinkUser">GitHub Link User</label>
          <input class="input" id='gitHubLinkUser' type="text" formControlName="gitHubLinkUser" placeholder="GitHubLinkUser">
        </div>
        <div
          class="form-group">
          <label class="label"  for="telegramLinkUser">Telegram Link User</label>
          <input class="input" id='telegramLinkUser' type="text" formControlName="telegramLinkUser" placeholder="Telegram Link User">
        </div>
        <div
          class="form-group">
          <label class="label"  for="instagramLinkUser">Instagram Link User</label>
          <input class="input" id='instagramLinkUser' type="text" formControlName="instagramLinkUser" placeholder="Instagram Link User">
        </div>
        <div
          class="form-group">
          <label class="label"  for="linkedinLinkUser">Linkedin Link User</label>
          <input class="input" id='linkedinLinkUser' type="text" formControlName="linkedinLinkUser" placeholder="Linkedin Link User">
        </div>
        <div
          class="form-group">
          <label class="label"  for="mailLinkUser">Mail Link User</label>
          <input class="input" id='mailLinkUser' type="text" formControlName="mailLinkUser" placeholder="Mail Link User">
        </div>
        <button
          [disabled]="formUser.invalid"
          type="submit"
          class="btn-submit">Save
        </button>
      </form>
    </div>
    <div class="edit__user-bio">
      <form [formGroup]="formSnippet" (ngSubmit)="submitSnippet()">
        <h2>Bio</h2>
        <div class="form-group">
          <label class="label">Code snippet 1</label>
          <textarea class="textarea" formControlName="snippet_code_1"></textarea>
          <textarea class="textarea" formControlName="snippet_1"></textarea>
        </div>
        <div class="form-group">
          <label class="label">Code snippet 2</label>
          <textarea class="textarea" formControlName="snippet_code_2"></textarea>
          <textarea class="textarea" formControlName="snippet_2"></textarea>
        </div>
        <div class="form-group">
          <label class="label">Code snippet 3</label>
          <textarea class="textarea" formControlName="snippet_code_3"></textarea>
          <textarea class="textarea" formControlName="snippet_3"></textarea>
        </div>
        <div class="form-group">
          <label class="label">Code snippet 4</label>
          <textarea class="textarea" formControlName="snippet_code_4"></textarea>
          <textarea class="textarea" formControlName="snippet_4"></textarea>
        </div>
        <div class="form-group">
          <label class="label">Code snippet 5</label>
          <textarea class="textarea" formControlName="snippet_code_5"></textarea>
          <textarea class="textarea" formControlName="snippet_5"></textarea>
        </div>
        <div class="form-group">
          <label class="label">Code snippet 6</label>
          <textarea class="textarea" formControlName="snippet_code_6"></textarea>
          <textarea class="textarea" formControlName="snippet_6"></textarea>
        </div>
        <div class="form-group">
          <label class="label">Code snippet 7</label>
          <textarea class="textarea" formControlName="snippet_code_7"></textarea>
          <textarea class="textarea" formControlName="snippet_7"></textarea>
        </div>
        <div class="form-group">
          <label class="label">Code snippet 8</label>
          <textarea class="textarea" formControlName="snippet_code_8"></textarea>
          <textarea class="textarea" formControlName="snippet_8"></textarea>
        </div>
        <div class="form-group">
          <label class="label">Code snippet 9</label>
          <textarea class="textarea" formControlName="snippet_code_9"></textarea>
          <textarea class="textarea" formControlName="snippet_9"></textarea>
        </div>
        <button
          [disabled]="formSnippet.invalid"
          type="submit"
          class="btn-submit">Save
        </button>
      </form>
    </div>
  </div>

</div>
