.edit{
  h2{
    margin: 0 0 20px;
  }
  &__row{
    height: 100%;
    overflow: hidden;
    display: grid;
    gap: 30px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
  &__user-form,
  &__user-bio{
    overflow-y: scroll;
    max-height: calc(100vh - 307px);
    padding: 30px 15px;
    &::-webkit-scrollbar {
      display: block;
      width: 12px;
      padding: 3px;
      margin: 3px;
      @media screen and (max-width: 1500px) {
        width: 7px;
      }
      @media screen and (max-width: 550px) {
        width: 3px;
      }
    }
    &::-webkit-scrollbar-track{
      background-color: var(--color-border-gray-dark);
    }
    &::-webkit-scrollbar-thumb{
      background-color: var(--color-gray);
    }
  }
}
