<div class="block-list">
  <div class="block-list__top">
    <div class="block-list__top-item">
      <div
        class="block-list__top-title"> education <span class="close"></span></div>
    </div>
  </div>
  <div class="block-list__wrapper">
    <div class="block-list__list">
      <div
        *ngFor="let education of (educations$ | async)"
        class="single">
        <div class="single__title">
          <div class="single__title-text"> // {{education.title_education}}</div>
        </div>
        <div class="single__card">

          <div class="single__card-img">
            <quill-view [content]="education.image"></quill-view>
          </div>
          <div class="single__card-des">{{education.text_education}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

