<form [formGroup]="formSnippet" (ngSubmit)="submitSnippet()">
  <h2>Snippets</h2>
  <div class="form-group">
    <label class="label">Code snippet 1</label>
    <textarea class="textarea" formControlName="snippet_code_1"></textarea>
    <textarea class="textarea" formControlName="snippet_1"></textarea>
  </div>
  <div class="form-group">
    <label class="label">Code snippet 2</label>
    <textarea class="textarea" formControlName="snippet_code_2"></textarea>
    <textarea class="textarea" formControlName="snippet_2"></textarea>
  </div>
  <div class="form-group">
    <label class="label">Code snippet 3</label>
    <textarea class="textarea" formControlName="snippet_code_3"></textarea>
    <textarea class="textarea" formControlName="snippet_3"></textarea>
  </div>
  <div class="form-group">
    <label class="label">Code snippet 4</label>
    <textarea class="textarea" formControlName="snippet_code_4"></textarea>
    <textarea class="textarea" formControlName="snippet_4"></textarea>
  </div>
  <div class="form-group">
    <label class="label">Code snippet 5</label>
    <textarea class="textarea" formControlName="snippet_code_5"></textarea>
    <textarea class="textarea" formControlName="snippet_5"></textarea>
  </div>
  <div class="form-group">
    <label class="label">Code snippet 6</label>
    <textarea class="textarea" formControlName="snippet_code_6"></textarea>
    <textarea class="textarea" formControlName="snippet_6"></textarea>
  </div>
  <div class="form-group">
    <label class="label">Code snippet 7</label>
    <textarea class="textarea" formControlName="snippet_code_7"></textarea>
    <textarea class="textarea" formControlName="snippet_7"></textarea>
  </div>
  <div class="form-group">
    <label class="label">Code snippet 8</label>
    <textarea class="textarea" formControlName="snippet_code_8"></textarea>
    <textarea class="textarea" formControlName="snippet_8"></textarea>
  </div>
  <div class="form-group">
    <label class="label">Code snippet 9</label>
    <textarea class="textarea" formControlName="snippet_code_9"></textarea>
    <textarea class="textarea" formControlName="snippet_9"></textarea>
  </div>
  <button
    [disabled]="formSnippet.invalid"
    type="submit"
    class="btn-submit">Save
  </button>
</form>
