<div class="single">
  <div class="single__title">
    <div class="single__title-num">Project {{index + 1}}</div>
    <div class="single__title-text"> // {{ title }}</div>
  </div>
  <div class="single__card">
    <div class="single__card-img">
      <div class="icon">
        <img [src]="icon" alt="icon">
      </div>
      <img [src]="image" alt="image">
    </div>
    <div class="single__card-des">{{ description }}</div>
    <a [routerLink]="['/select-project', title]" class="single__card-link">view-project</a>
  </div>
</div>
