.personal{
  padding: 20px 20px 20px 50px;
  border-right: 1px solid var(--color-border-gray-dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  color: var(--color-gray);
  line-height: 150%;
  overflow-y: scroll;
  max-height: calc(100vh - 290px);
  @media screen and (max-width: 1500px) {
    padding: 20px 15px 20px 40px;
    max-height: calc(100vh - 186px);
    font-size: 14px;
    line-height: 140%;
  }
  @media screen and (max-width: 1200px){
    max-height: calc(100vh - 186px);
  }
  &::-webkit-scrollbar{
    display: block;
    width: 12px;
    padding: 3px;
    margin: 3px;
    @media screen and (max-width: 1500px) {
      width: 7px;
    }
  }
  &::-webkit-scrollbar-track{
    background-color: var(--color-border-gray-dark);
  }
  &::-webkit-scrollbar-thumb{
    background-color: var(--color-gray);
  }
}

