.bio {
  width: 100%;
  min-height: 100%;

  &__top {
    height: 43px;
    width: 100%;
    border-bottom: 1px solid var(--color-border-gray-dark);
    display: grid;
    grid-template-columns: 50% 50%;
    @media screen and (max-width: 1500px) {
      height: 41px;
    }
    @media screen and (max-width: 1200px) {
      grid-template-columns: 100%;
    }

    &-item {
      border-right: 1px solid var(--color-border-gray-dark);

      &:last-child {
        @media screen and (max-width: 1200px) {
          display: none;
        }

      }

      @media screen and (max-width: 1200px) {
        border: none;
        border-top: 1px solid var(--color-border-gray-dark);
      }
    }

    &-title {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 0 80px 0 15px;
      border-right: 1px solid var(--color-border-gray-dark);
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      color: var(--color-gray);
      @media screen and (max-width: 1500px) {
        padding: 0 60px 0 15px;
        font-size: 13px;
        line-height: 16px;
      }

      .close {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        right: 12px;
        cursor: pointer;
        transform: translateY(-50%);
        background: url("/assets/images/icons/close-icon.svg") no-repeat 0 0/contain;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}


