pre {
  background: var(--bg-code);
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;

  code {

    //flex: auto;
    line-height: 1.5em;
    font-size: 14px;
    min-height: 100%;
    padding: 1em 1.2em;
    @media screen and (max-width: 1840px) {
      font-size: 10px;
    }

    @media screen and (max-width: 1555px) {
      font-size: 8px;
    }

    &.hljs-line-numbers {
      padding: 0 !important;
      margin: 0 !important;
      border: none !important;
    }
  }
}

/** Line numbers styles */
.hljs {

  margin: 0 1em;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  transition: border ease 1s;
}

.hljs-ln {
  padding: 8px 0;

  tr {
    &:first-child td {
      padding-top: 8px !important;
    }

    &:last-child td {
      padding-bottom: 8px !important;
    }
  }
}

/* for block of numbers */
td.hljs-ln-numbers {
  user-select: none;
  text-align: center;
  border-right: 1px solid gray;
  vertical-align: top;
  padding-right: 8px !important;
  padding-left: 8px !important;
}

/* for block of code */
td.hljs-ln-code {
  padding-left: 8px !important;
}
