.button-nav-mob{
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
  padding: 0 20px;
  @media screen and (max-width: 1200px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  &.active {
    .bar {
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }

  .bar {
    position: relative;
    height: 2px;
    width: 18px;
    background-color: var(--color-gray);
    transition: 0.4s;
  }
}

.nav{
  border-right: 1px solid var(--color-border-gray-dark);
  min-height: 100%;
  height: 100%;
  @media screen and (max-width: 1200px) {
    position: absolute;
    top: 85px;
    left: 0;
    z-index: 7;
    flex-direction: column;
    background: var(--bg-color-main);
    width: 296px;
    height: calc(100% - 84px);
    display: flex;
    transform: translateX(-100%);
    transition: transform .5s ease;
    &.active {
      transform: translateX(0);
    }
  }
  img{
    max-width: 100%;
  }
  &__top,
  &__bottom{
    border-bottom: 1px solid var(--color-border-gray-dark);
    &-title{
      cursor: pointer;
      position: relative;
      color: var(--color-white);
      padding: 12px 35px;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      border-bottom: 1px solid var(--color-border-gray-dark);
      @media screen and (max-width: 1500px) {
        font-size: 13px;
        line-height: 15px;
      }
      &.open::before{
        transform: translateY(-50%) rotate(0);
      }
      &::before{
        content: '';
        position: absolute;
        left: 15px;
        top: 50%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid var(--color-white);
        transform: translateY(-50%) rotate(180deg);
        transition: transform .5s ease;
        @media screen and (max-width: 1500px) {
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-bottom: 5px solid var(--color-white);
        }
      }
    }
    &-list{
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-height: 125px;
      overflow: hidden;
      transition: max-height .5s ease, padding .5s ease;
      &.open{
        max-height: 0;
      }
    }

    &-link{
      padding: 0 35px;
      display: flex;
      align-items: center;
      gap: 9px;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      color: var(--color-gray);

      @media screen and (max-width: 1500px) {
        padding: 0 25px;
        font-size: 13px;
        line-height: 16px;
      }
      img{
        max-width: 17px;
      }
      transition: color .3s ease;
      &:first-child{
        margin: 20px 0 0 0;
      }
      &:last-child{
        margin: 0 0 20px 0;
      }
      &:hover{
        color: var(--color-white);
      }
      &.active{
        color: var(--color-white);
      }
    }

  }



  &__top{
    &-list{
      @media screen and (max-width: 1200px) {
        max-height: 149px;
      }

    }
  }
  &__bottom{
    &-list{
      max-height: 91px;
    }
  }
}
