:root {

  //fonts
  --font-fira: 'Fira Code', monospace;

  --bg-color: #010C15;
  --bg-color-main: #011627;
  --bg-btn-black: #1C2B3A;
  --bg-btn-black-hover: #263B50;
  --bg-code: #011221;
  --bg-color-hover: #2a3944;
  --dark-border: #0C1616;
  --black-text: #01080E;
  --color-gray: #607B96;
  --color-white: #FFF;
  --color-white-title: #E5E9F0;
  --color-border-gray-dark: #1E2D3D;
  --color-orange: #FEA55F;
  --color-orange-hover: #FFAC6B;
  --color-purple: #4D5BCE;
  --color-purple-hover: #727ad2;
  --color-green: #43D9AD;
  --color-red: #c7404a;
  --color-obstacle: #383522;
  --gray-opacity-bg: rgba(1, 20, 35, 0.19);
  --bg-snake-blue: rgba(1, 22, 39, 0.84);
  --shadow-snake-blue: rgba(2, 18, 27, 0.71);
  --color-column-snake: rgba(97, 131, 138, .1);

  --gren-gradient: linear-gradient(150deg, rgba(23, 85, 83, 0.70) 1.7%, rgba(67, 217, 173, 0.09) 81.82%);

  --shadow-gray: rgba(255, 255, 255, 0.30);
}

